table{
    border: 1px solid #000;
    border-collapse: collapse;
    width: 1200px;
    height: 800px;

}

th{
    border: 1px solid #000;
}
td{
    border: 1px solid #000;
}

.meaning td{
    text-align: center;

}
.present-Addition,.present-question,.present-Subtraction td{
    text-align: center;
}

.future-Addition,.future-question,.future-Subtraction td{
    text-align: center;
}
.Past-Addition,.Past-question,.Past-Subtraction td{
    text-align: center;
}